@charset "utf-8";
/* CSS Document */
body {
  background: rgb(58, 58, 58);
  color: white;
  font-family: Times new Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  margin: 0;
  padding: 0;
  text-align: center;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */


/* Centered text */
.centered {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered2 {
	position: absolute;
	top:20%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.centered3 {
	position: absolute;
	top:27.5%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.centered4{
	position: absolute;
	top:105%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.centered5{
	position: absolute;
	top:80%;
	left: 50%;
	transform: translate(-50%, 10%);
}
.centered6 {
  position: absolute;
  top: 167.5%;
  left: 67.5%;
  transform: translate(-50%, 100%);
}
h1 {
  font-size: 4em; /* 40px/16=2.5em */
}

h2 {
  font-size: 1.5em; /* 30px/16=1.875em */
}
h3 {
  font-size: 2.1em; /* 30px/16=1.875em */
}

p {
  font-size: 0.875em; /* 14px/16=0.875em */
}
header {
  padding: 20px;
  height: 100px;
  background: black;
  text-align: center;
}
header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
}
header .mobile {
  display: none;
}
header .logo a {
  background-image: url("images/HistoryThing.png");
  background-size: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 100px;
  position: relative;
  text-indent: -99999999px;
  top: -35px;
  width: 300px;
}
@media screen and (max-width: 680px) {
  header {
    height: 250px;
    background-position: 0-30px;
  }
  header .mobile {
    display: inline-block;
  }
  header .desktop {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  header {
    height: 200px;
    background-position: 0 -0px;
  }
}
section {
  background: white;
  color: gray;
  display: flex;
  flex-direction: column;

}

div {
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  display: inline-block;
  margin-right: 20px;
}
#box {
display:table; 
width:100%;
}
.column {
display:table-cell;
width:50%;
background:#fff;
color: gray;
padding:0 20px;
}
.two {
background:999;
}
 
    
    .group { 
      position: relative; 
      margin-bottom: 45px; 
    }
    
    input {
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      -webkit-appearance: none;
      display: block;
      background: #fafafa;
      color: #636363;
		position: absolute;
		top:20%;
	left: 45%;
	transform: translate(-50%, 100%);
      width: 30%;
      border: none;
      border-radius: 0;
    }
    
    input:focus { outline: none; }
    
    
    /* Label */
    
    label {
      color: #999; 
      font-size: 15px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: -15px;
      transition: all 0.2s ease;
    }
    
    
    /* active */

    
   
    
    
    /* Button */
    
    .button {
      position: absolute;
top: 10%;
  left: 67.5%;
  transform: translate(-50%, 150%);
      display: inline-block;
      padding: 12px 24px;
      margin: .3em 0 1em 0;
      width: 10%;
      vertical-align: middle;
      color: #fff;
      font-size: 16px;
      line-height: 20px;
      -webkit-font-smoothing: antialiased;
      text-align: center;
      letter-spacing: 1px;
      background: #004345;
      border: 2px solid #fff;
      border-bottom: 2px solid #fff;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.15s ease;
    }
    .button:focus { outline: 0; }
    
    
    /* Button modifiers */
    
    .buttonBlue {
      background: 
      text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
    }
    
    .buttonBlue:hover { background: #fff;
    color: #004345;}

   
    hgroup { 
      text-align:center;
      margin-top: 4em;
      color: #FFFFFF;
      font-weight: 300; 
    }
    
    #succ {
      display: none;
      background-color: #dff0d8;
      border: 2px solid #dff0d8;
      border-radius: 5px;  
      height:40px;
      text-align:left;
      top:25%;
      position: relative;
      color: #3c763d;
      margin-left:15px;
    }
    #txt{
      margin-left:15px;
      margin-top:0%;
      
    }
    #fail {
      display: none;
      background-color: #ff9999;
      border: 2px solid #ff9999;
      border-radius: 5px;  
      height:40px;
      text-align:left;
      top:50%;
      position: relative;
      color: #9F0303;
      margin-left:15px;
    }
footer {
  background: black;
  color: gray;
  font-size: 12px;
  padding: 20px 20px;
  text-align: center;
}